<div class="container-fluid vh-100 login">
    <div class="row h-100">

        <!-- LEFT PANEL -->
        <div
            class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center text-white left-panel">

            <div class="bg-white bg-opacity-25 rounded-4 d-flex align-items-center justify-content-center mb-4"
                style="width:80px;height:80px;">
                <i class="fa-solid fa-graduation-cap fs-3"></i>
            </div>

            <h1 class="fw-medium fs-4">BG Electricals And Electronics India Ltd. Management System</h1>

            <p class="mt-3 w-75 opacity-75">
                20 - Amp Line
            </p>

            
        </div>

        <!-- RIGHT PANEL -->
        <div class="col-md-6 col-xxl-5 mx-auto d-flex align-items-center bg-light">

            <div class="w-100 px-5">

                <div class="mx-auto">

                    <h4 class="fw-semibold">Welcome</h4>
                    <p class="text-muted mb-4">Login with credentials</p>



                    <!-- Form -->
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control form-control-lg fs-14" [(ngModel)]="email"
                            placeholder="Enter email" />
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control form-control-lg fs-14" [(ngModel)]="password"
                            placeholder="Enter password" />
                    </div>

                    <button class="btn btn-primary w-100 py-2 fw-medium login-btn" (click)="login()">
                        Login
                    </button>

                    <!-- <p class="text-center mt-3 small text-muted">
                        Demo credentials are pre-filled. Click login to continue.
                    </p> -->

                </div>

            </div>

        </div>

    </div>
</div>